.component {
  position: relative;
}

.component__img {
  position: absolute;
  width: 60%;
  top: 0;
  left: 0;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.component__img--p2 {
  top: 5rem;
  left: 45%;
}

.component__img--p3 {
  top: 18rem;
  left: 15%;
}

.component__img:hover {
  outline: 1.5rem solid #55c57a;
  padding: 1.5rem;
  border-radius: 1rem;
  -webkit-transform: translateY(-20px) scale(1.2);
          transform: translateY(-20px) scale(1.2);
  z-index: 5;
}

.component:hover .component__img:not(:hover) {
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}

.card {
  -webkit-perspective: 150rem;
          perspective: 150rem;
  position: relative;
  height: 50rem;
}

.card:hover .card_side {
  -webkit-transform: rotateY(-180deg);
          transform: rotateY(-180deg);
}

.card:hover .card_side--back {
  -webkit-transform: rotateY(0);
          transform: rotateY(0);
}

.card_side {
  width: 100%;
  height: 100%;
  position: absolute;
  -webkit-transition: all 1s;
  transition: all 1s;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-box-shadow: 0 0.5rem 2rem rgba(0, 0, 0, 0.469);
          box-shadow: 0 0.5rem 2rem rgba(0, 0, 0, 0.469);
}

.card_side--front {
  background-color: white;
}

.card_side--back {
  width: 100%;
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

.card_side--back--1 {
  background-image: -webkit-gradient(linear, left top, right bottom, from(#ffb900), to(#ff7730));
  background-image: linear-gradient(to bottom right, #ffb900, #ff7730);
}

.card_side--back--2 {
  background-image: -webkit-gradient(linear, left top, right bottom, from(#55c57a), to(#7ed56f));
  background-image: linear-gradient(to bottom right, #55c57a, #7ed56f);
}

.card_side--back--3 {
  background-image: -webkit-gradient(linear, left top, right bottom, from(#2998ff), to(#5643fa));
  background-image: linear-gradient(to bottom right, #2998ff, #5643fa);
}

.card_side--back .tour-price {
  color: white;
}

.card_side--back .tour-price__view {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.card_side--back .tour-price .price__tag {
  text-transform: uppercase;
  font-size: 2rem;
  font-weight: 300;
}

.card_side--back .tour-price .price {
  margin-bottom: 12rem;
  font-size: 6rem;
  font-weight: 300;
}

.card_side--back .tour-price .btn-book {
  padding: 1.5rem 3rem;
}

.card_side--back .tour-price .btn-book:active ~ .popup {
  -webkit-transform: scale(1);
          transform: scale(1);
}

.card__picture {
  padding: 12rem;
  background-size: cover;
  background-blend-mode: screen;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
          clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
}

.card__picture--1 {
  background-image: radial-gradient(#ffb900, #ff7730), url(../../img/nat-5.jpg);
}

.card__picture--2 {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#55c57a), to(#7ed56f)), url(../../img/nat-6.jpg);
  background-image: linear-gradient(#55c57a, #7ed56f), url(../../img/nat-6.jpg);
}

.card__picture--3 {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#2998ff), to(#5643fa)), url(../../img/nat-7.jpg);
  background-image: linear-gradient(#2998ff, #5643fa), url(../../img/nat-7.jpg);
}

.card__heading {
  position: absolute;
  top: 14.5rem;
  right: 1.5rem;
  text-transform: uppercase;
  font-weight: 300;
  font-size: 3rem;
  width: 65%;
  text-align: right;
  padding: 1rem 0.5rem;
}

.card__heading-span {
  color: white;
  padding: 0.5rem;
  -webkit-box-decoration-break: slice;
          box-decoration-break: slice;
}

.card__heading-span--1 {
  background-color: #ffb900;
}

.card__heading-span--2 {
  background-color: #55c57a;
}

.card__heading-span--3 {
  background-color: #2998ff;
}

.card__details {
  width: 50%;
  margin: 2rem auto;
}

.card__details ul {
  list-style: none;
  font-size: 1.6rem;
}

.card__details ul li {
  margin-bottom: 1.5rem;
  padding-bottom: 1rem;
}

.card__details ul li:not(:last-child) {
  border-bottom: 2px solid #eee;
}

.btn, .btn:link, .btn:visited {
  font-size: 1.6rem;
  text-decoration: none;
  padding: 2rem 4rem;
  border-radius: 100px;
  color: #736e6e;
  display: inline-block;
  z-index: 2;
}

.btn::after {
  content: "";
  background-color: white;
  width: 100%;
  height: 100%;
  border-radius: 100px;
  position: absolute;
  top: 0%;
  left: 0%;
  z-index: -1;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

.btn:hover {
  -webkit-transform: translateY(-3px);
          transform: translateY(-3px);
  -webkit-box-shadow: 0 10px 5px rgba(0, 0, 0, 0.1);
          box-shadow: 0 10px 5px rgba(0, 0, 0, 0.1);
}

.btn:hover::after {
  -webkit-transform: scaleX(1.5) scaleY(1.6);
          transform: scaleX(1.5) scaleY(1.6);
  opacity: 0;
}

.btn:active {
  -webkit-transform: translateY(-1px);
          transform: translateY(-1px);
  -webkit-box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
          box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
}

.btn-white {
  background-color: white;
  position: relative;
  font-size: 1.5rem;
}

.btn-green {
  background-color: #55c57a;
  position: relative;
  font-size: 1.5rem;
  border: none;
}

.btn-green::after {
  position: absolute;
  background-color: #55c57a;
}

.btn-animate {
  -webkit-animation: moveUp 1s ease-out 0.7s backwards;
          animation: moveUp 1s ease-out 0.7s backwards;
}

.btn-text:link, .btn-text:visited {
  display: inline-block;
  font-size: 1.6rem;
  color: #55c57a;
  text-decoration: none;
  border-bottom: 2px solid #55c57a;
  padding-bottom: 0.5rem;
  font-weight: 600;
  -webkit-transition: all 0.1s;
  transition: all 0.1s;
}

.btn-text:hover {
  background-color: #28b485;
  color: black;
  -webkit-transform: translateY(-3px);
          transform: translateY(-3px);
  -webkit-box-shadow: 0 0.8rem 0.5rem rgba(0, 0, 0, 0.1);
          box-shadow: 0 0.8rem 0.5rem rgba(0, 0, 0, 0.1);
}

.btn-text:active {
  -webkit-transform: translateY(-1px);
          transform: translateY(-1px);
  -webkit-box-shadow: 0 0.3rem 1rem rgba(0, 0, 0, 0.1);
          box-shadow: 0 0.3rem 1rem rgba(0, 0, 0, 0.1);
}

.section-feature .feature {
  text-align: center;
}

.section-feature .feature [class^="icon-basic"] {
  display: inline-block;
  font-size: 7rem;
  color: #55c57a;
}

.section-feature .feature-caption {
  font-size: 1.4rem;
}

.section-feature .feature-caption__heading {
  text-transform: uppercase;
  color: #818281;
}

.section-feature .feature-caption__para {
  line-height: 2.5rem;
  color: #818281;
}

.story {
  background-color: #f7f7f7;
  padding: 5rem 3rem;
  -webkit-transform: skewX(-17deg);
          transform: skewX(-17deg);
  width: 70%;
  margin: 0 auto;
}

.story > * {
  -webkit-transform: skewX(17deg);
          transform: skewX(17deg);
}

.story__shape {
  width: 15rem;
  height: 15rem;
  float: left;
  margin: auto 5%;
  shape-outside: circle(48% at 50% 50%);
  -webkit-clip-path: circle(48% at 50% 50%);
          clip-path: circle(48% at 50% 50%);
  position: relative;
  overflow: hidden;
}

.story__img {
  width: 100%;
  height: 15rem;
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  -webkit-clip-path: circle(48% at 50% 50%);
          clip-path: circle(48% at 50% 50%);
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

.story__caption {
  font-size: 3rem;
  color: white;
  font-weight: 500;
  position: absolute;
  top: 48%;
  left: 53%;
  -webkit-transform: translate(-50%, 50%);
          transform: translate(-50%, 50%);
  opacity: 0;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.story__text {
  line-height: 3rem;
}

.story:hover .story__img {
  -webkit-filter: blur(1px) contrast(90%);
          filter: blur(1px) contrast(90%);
  -webkit-transform: scale(1);
          transform: scale(1);
}

.story:hover .story__caption {
  opacity: 1;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.bg-video {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.bg-video__content {
  -o-object-fit: cover;
     object-fit: cover;
}

.footer__logo {
  margin-bottom: 8rem;
}

.footer__logo-img {
  display: block;
  margin: auto;
}

.footer__nav {
  text-transform: uppercase;
  width: 90%;
  margin-left: 10%;
}

.footer__ul {
  display: block;
  list-style: none;
  border-top: 1px solid white;
  padding-top: 2rem;
}

.footer__ul::after {
  content: "";
  clear: both;
  display: table;
}

.footer__li {
  float: left;
}

.footer__li:not(:first-child) {
  margin-left: 1.8rem;
}

.footer__a {
  display: block;
  text-decoration: none;
  color: white;
  font-size: 1.5rem;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.footer__a:hover {
  color: #55c57a;
  -webkit-box-shadow: 0 1rem 2rem black;
          box-shadow: 0 1rem 2rem black;
  -webkit-transform: rotate(5deg) scale(1.3);
          transform: rotate(5deg) scale(1.3);
}

.footer__copyright {
  width: 80%;
  font-size: 1.6rem;
  line-height: 3rem;
  border-top: 1px solid white;
  padding-top: 2rem;
}

.navigation .navi__bg {
  position: fixed;
  width: 5.5rem;
  height: 5.5rem;
  top: 5rem;
  right: 5rem;
  z-index: 1000;
  border-radius: 50%;
  -webkit-transition: all 0.8s cubic-bezier(1, 0.22, 0, 1);
  transition: all 0.8s cubic-bezier(1, 0.22, 0, 1);
  background-image: radial-gradient(#55c57a, #28b485);
}

.navigation__buttom {
  position: fixed;
  width: 6rem;
  height: 6rem;
  top: 4.8rem;
  right: 4.8rem;
  background-color: white;
  z-index: 1010;
  border-radius: 50%;
}

.navigation__buttom-line::after, .navigation__buttom-line::before {
  content: "";
}

.navigation__buttom-line, .navigation__buttom-line::after, .navigation__buttom-line::before {
  width: 3rem;
  height: 3px;
  background-color: black;
  position: fixed;
  top: 7.8rem;
  right: 6.3rem;
  z-index: 1011;
  border-radius: 1rem;
  -webkit-transition: all 0.8s;
  transition: all 0.8s;
}

.navigation__buttom-line::after {
  top: 8.8rem;
}

.navigation__buttom-line::before {
  top: 6.8rem;
}

.navigation__checkbox {
  display: none;
}

.navigation__checkbox:checked ~ .navi__bg {
  -webkit-transform: scale(70);
          transform: scale(70);
}

.navigation__checkbox:checked ~ .nav {
  opacity: 1;
  visibility: visible;
  left: 50%;
}

.navigation__checkbox:checked ~ .navigation__buttom > .navigation__buttom-line {
  background-color: transparent;
}

.navigation__checkbox:checked ~ .navigation__buttom > .navigation__buttom-line::before {
  -webkit-transform: rotate(222deg);
          transform: rotate(222deg);
  top: 7.8rem;
}

.navigation__checkbox:checked ~ .navigation__buttom > .navigation__buttom-line::after {
  -webkit-transform: rotate(-222deg);
          transform: rotate(-222deg);
  top: 7.8rem;
}

.navigation .nav {
  position: fixed;
  height: 100vh;
  width: 100%;
  top: 50%;
  left: 0%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  height: 50%;
  z-index: 2000;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.8s cubic-bezier(0.89, 0.2, 0.24, 1.48);
  transition: all 0.8s cubic-bezier(0.89, 0.2, 0.24, 1.48);
}

.navigation .nav__ul {
  list-style: none;
}

.navigation .nav__li {
  margin-bottom: 3rem;
  text-align: center;
}

.navigation .nav__a {
  text-decoration: none;
  color: white;
  font-size: 2.5rem;
  font-weight: 300;
  text-transform: uppercase;
  cursor: pointer;
  padding: 1rem;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  background-image: linear-gradient(110deg, transparent 0%, transparent 50%, white 50%);
  background-size: 210%;
  background-position: left;
}

.navigation .nav__a:hover {
  background-position: right;
  color: #7ed56f;
}

.navigation .nav__a span {
  margin-right: 1.5rem;
}

.popup {
  position: fixed;
  height: 100vh;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 4000;
  background-color: rgba(0, 0, 0, 0.8);
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.popup__cross {
  position: absolute;
  font-size: 7rem;
  top: 1%;
  right: 3%;
  text-decoration: none;
  color: black;
  cursor: pointer;
  z-index: 4001;
}

.popup__cross:hover {
  color: #55c57a;
}

.popup:target {
  opacity: 1;
  visibility: visible;
}

.popup:target .popup__content {
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
}

.popup__content {
  position: fixed;
  background-color: white;
  height: 80vh;
  width: 80%;
  top: 50%;
  left: 50%;
  overflow: hidden;
  border-radius: 1rem;
  -webkit-box-shadow: 0 1rem 2rem black;
          box-shadow: 0 1rem 2rem black;
  display: table;
  -webkit-transform: translate(-50%, -50%) scale(0.1);
          transform: translate(-50%, -50%) scale(0.1);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.popup__img {
  width: 33.3%;
  display: table-cell;
}

.popup__img-content {
  width: 100%;
  height: 50%;
  display: block;
}

.popup__terms {
  display: table-cell;
  width: 66.7%;
  vertical-align: middle;
  padding: 0 5rem;
}

.popup__terms-p {
  font-size: 1.6rem;
  -webkit-column-count: 2;
          column-count: 2;
  -webkit-column-rule: 1px solid black;
          column-rule: 1px solid black;
  -webkit-column-gap: 5rem;
          column-gap: 5rem;
  line-height: 2.5rem;
}

.u-center-text {
  text-align: center;
}

.u-margin-btm-big {
  margin-bottom: 8rem;
}

.u-margin-btm-medium {
  margin-bottom: 4rem;
}

.u-margin-btm-small {
  margin-bottom: 1.5rem;
}

.u-margin-top-huge {
  margin-top: 35rem;
}

.u-margin-top-big {
  margin-top: 8rem;
}

.u-margin-top-medium {
  margin-top: 4rem;
}

.u-margin-top-small {
  margin-top: 1.5rem;
}

@-webkit-keyframes moveInRight {
  0% {
    -webkit-transform: translateX(10rem);
            transform: translateX(10rem);
    opacity: 0;
  }
  80% {
    -webkit-transform: translateX(-2rem);
            transform: translateX(-2rem);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
    opacity: 1;
  }
}

@keyframes moveInRight {
  0% {
    -webkit-transform: translateX(10rem);
            transform: translateX(10rem);
    opacity: 0;
  }
  80% {
    -webkit-transform: translateX(-2rem);
            transform: translateX(-2rem);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
    opacity: 1;
  }
}

@-webkit-keyframes moveInLeft {
  0% {
    -webkit-transform: translateX(-10rem);
            transform: translateX(-10rem);
    opacity: 0;
  }
  80% {
    -webkit-transform: translateX(2rem);
            transform: translateX(2rem);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
    opacity: 1;
  }
}

@keyframes moveInLeft {
  0% {
    -webkit-transform: translateX(-10rem);
            transform: translateX(-10rem);
    opacity: 0;
  }
  80% {
    -webkit-transform: translateX(2rem);
            transform: translateX(2rem);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
    opacity: 1;
  }
}

@-webkit-keyframes moveUp {
  0% {
    -webkit-transform: translateY(10rem);
            transform: translateY(10rem);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    opacity: 1;
  }
}

@keyframes moveUp {
  0% {
    -webkit-transform: translateY(10rem);
            transform: translateY(10rem);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    opacity: 1;
  }
}

html {
  font-size: 62.5%;
}

*, *::after, *::before {
  margin: 0%;
  padding: 0%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  padding: 3rem;
}

body {
  font-family: "lato", sans-serif;
}

.heading-secondary {
  font-size: 4rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  background-color: #55c57a;
  background-image: -webkit-gradient(linear, left top, right top, from(#7ed56f), to(#28b485));
  background-image: linear-gradient(to right, #7ed56f, #28b485);
  -webkit-background-clip: text;
  color: transparent;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.heading-secondary:hover {
  -webkit-transform: skewX(20deg) skewY(3deg) scale(1.1);
          transform: skewX(20deg) skewY(3deg) scale(1.1);
  text-shadow: 0rem 1rem 1rem rgba(0, 0, 0, 0.3);
}

article {
  color: gray;
  line-height: 3rem;
}

article .paragraph {
  font-size: 1.6rem;
  margin-bottom: 2rem;
}

.heading-tertiary {
  text-transform: uppercase;
  font-size: 1.6rem;
  font-weight: 800;
  margin-bottom: 2rem;
}

.btn {
  text-transform: uppercase;
}

.header {
  height: 95vh;
  background-image: -webkit-gradient(linear, left top, right bottom, from(rgba(126, 213, 111, 0.733)), to(rgba(85, 197, 122, 0.749))), url(../img/hero-small.jpg);
  background-image: linear-gradient(to bottom right, rgba(126, 213, 111, 0.733), rgba(85, 197, 122, 0.749)), url(../img/hero-small.jpg);
  background-size: cover;
  background-position: top;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
          clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
  position: relative;
}

.header__logo {
  height: 4rem;
  position: absolute;
  left: 4rem;
  top: 4rem;
}

.header__container {
  text-align: center;
  position: absolute;
  top: 40%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 100%;
  color: white;
}

.header__heading--primary, .header__heading--sub {
  display: block;
  margin-bottom: 20px;
  font-weight: 400;
}

.header__heading--primary {
  font-size: 8rem;
  letter-spacing: 5rem;
  -webkit-animation: moveInLeft 1s ease-out;
          animation: moveInLeft 1s ease-out;
}

.header__heading--sub {
  font-size: 2rem;
  letter-spacing: 2.8rem;
  margin-bottom: 5rem;
  -webkit-animation: moveInRight 1s ease-out 0.55s backwards;
          animation: moveInRight 1s ease-out 0.55s backwards;
  font-weight: 800;
}

.row {
  max-width: 114rem;
  margin: 0 auto;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

.row:not(:last-child) {
  margin-bottom: 6rem;
}

.row [class^="col-"] {
  float: left;
}

.row [class^="col-"]:first-child {
  margin-left: 0%;
}

.row .col-1-of-2 {
  width: calc((100% - 8rem) / 2);
  margin-left: 8rem;
}

.row .col-1-of-3 {
  width: calc((100% - (8rem * 2)) / 3);
  margin-left: 8rem;
}

.row .col-2-of-3 {
  width: calc( (calc((100% - (8rem * 2)) / 3) * 2) + 8rem);
  margin-left: 8rem;
}

.row .col-1-of-4 {
  width: calc((100% - (8rem * 3)) / 4);
  margin-left: 8rem;
}

.row .col-2-of-4 {
  width: calc( (calc((100% - (8rem * 3)) / 4) * 2) + 8rem);
  margin-left: 8rem;
}

.row .col-3-of-4 {
  width: calc( (calc((100% - (8rem * 3)) / 4) * 3) + (8rem* 2));
  margin-left: 8rem;
}

.section-about {
  margin-top: -20vh;
  padding: 25rem 0;
  background-color: #f7f7f7;
}

.section-feature {
  margin-top: -9rem;
  padding: 20rem 0;
  background-image: -webkit-gradient(linear, left top, right bottom, from(rgba(126, 213, 111, 0.733)), to(rgba(85, 197, 122, 0.749))), url(../../img/nat-4.jpg);
  background-image: linear-gradient(to bottom right, rgba(126, 213, 111, 0.733), rgba(85, 197, 122, 0.749)), url(../../img/nat-4.jpg);
  background-size: cover;
  -webkit-transform: skewY(-7deg);
          transform: skewY(-7deg);
}

.section-feature .feature {
  background-color: rgba(247, 247, 247, 0.8);
  padding: 2.5rem;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.section-feature .feature:hover {
  -webkit-transform: translateY(-2rem) scale(1.05);
          transform: translateY(-2rem) scale(1.05);
}

.section-feature > * {
  -webkit-transform: skewY(7deg);
          transform: skewY(7deg);
}

.section-tours {
  text-align: center;
  margin-top: -10rem;
  padding: 20rem 0 5rem 0;
  background-color: whitesmoke;
}

.section-tours .btn-tours {
  background-color: #55c57a;
  color: white;
}

.section-tours .tours {
  font-size: 1.6rem;
}

.section-stories {
  padding: 10rem 0rem;
  background-color: rgba(247, 247, 247, 0.9);
  font-size: 1.6rem;
  position: relative;
}

.section-book {
  padding: 20rem 0;
  background-image: -webkit-gradient(linear, left top, right bottom, from(#7ed56f), to(#28b485));
  background-image: linear-gradient(to bottom right, #7ed56f, #28b485);
  font-size: 1.6rem;
}

.book {
  width: 100%;
  height: 55rem;
  background-image: linear-gradient(102deg, rgba(247, 247, 247, 0.9) 50%, transparent 50%), url(../../img/nat-10.jpg);
  background-position: top;
  background-size: cover;
}

.book .form {
  width: 55%;
  height: 100%;
  padding: 5rem 0 5rem 5rem;
}

.book .form__group {
  margin-bottom: 3rem;
  width: 100%;
}

.book .form__input {
  display: block;
  width: 80%;
  height: 5rem;
  margin-bottom: 1rem;
  font-size: 1.6rem;
  text-indent: 1rem;
  font-family: inherit;
  border: none;
  border-bottom: 3px solid transparent;
}

.book .form__input:focus {
  outline: none;
  border-bottom: 3px solid #55c57a;
}

.book .form__input:focus:invalid {
  border-bottom: 3px solid #ff7730;
}

.book .form__label {
  width: 80%;
  color: #777;
  display: block;
  padding-left: 1rem;
}

.book .form__radio-group {
  width: 50%;
  display: inline-block;
}

.book .form__radio-group:last-child {
  float: right;
}

.book .form__radio-input {
  display: none;
}

.book .form__radio-label {
  padding-left: 3.5rem;
  position: relative;
  cursor: pointer;
}

.book .form__radio-button {
  display: block;
  width: 3rem;
  height: 3rem;
  border: 5px solid #55c57a;
  border-radius: 50%;
  position: absolute;
  left: 10%;
  top: 55%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.book .form__radio-button::after {
  content: "";
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  left: 0%;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  border: 0.8rem solid #55c57a;
  opacity: 0;
}

.book .form__radio-input:checked ~ .book .form__radio-label .book .form__radio-button::after {
  opacity: 1;
}

.form__group:not(:last-child) {
  margin-bottom: 2rem;
}

.form__input {
  font-size: 1.5rem;
  font-family: inherit;
  color: inherit;
  padding: 1.5rem 2rem;
  border-radius: 2px;
  background-color: rbga(white, 0.5);
  border: none;
  border-bottom: 3px solid transparent;
  width: 90%;
  display: block;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.form__input:focus {
  outline: none;
  -webkit-box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
          box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
  border-bottom: 3px solid #55c57a;
}

.form__input:focus:invalid {
  border-bottom: 3px solid #7ed56f;
}

.form__input::-webkit-input-placeholder {
  color: #777;
}

.form__label {
  font-size: 1.2rem;
  font-weight: 700;
  margin-left: 2rem;
  margin-top: 0.7rem;
  display: block;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.form__input:placeholder-shown + .form__label {
  opacity: 0;
  visibility: hidden;
  -webkit-transform: translateY(-4rem);
          transform: translateY(-4rem);
}

.form__radio-group {
  width: 49%;
  display: inline-block;
}

.form__radio-input {
  display: none;
}

.form__radio-label {
  font-size: 1.6rem;
  cursor: pointer;
  position: relative;
  padding-left: 4.5rem;
}

.form__radio-button {
  height: 3rem;
  width: 3rem;
  border: 5px solid #55c57a;
  border-radius: 50%;
  display: inline-block;
  position: absolute;
  left: 0;
  top: -0.4rem;
}

.form__radio-button::after {
  content: "";
  display: block;
  height: 1.3rem;
  width: 1.3rem;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-color: #55c57a;
  opacity: 0;
  -webkit-transition: opacity 0.2s;
  transition: opacity 0.2s;
}

.form__radio-input:checked ~ .form__radio-label .form__radio-button::after {
  opacity: 1;
}

.form .btn-book {
  color: white;
}

.footer {
  background-color: #333333;
  padding: 8rem 0;
  color: #f7f7f7;
  font-size: 1.6rem;
}
/*# sourceMappingURL=main.css.map */