.header {
  height: 95vh;
  width: 100%;
  background-image: linear-gradient(
      to bottom right,
      rgba($color-primary-light, 0.733),
      rgba($color-primary, 0.749)
    ),
    url(./img/hero-small.jpg);

  @media (min-resolution: 192dpi) and (min-width: 37.5em),
    (min-width: 112.5em) {
    background-image: linear-gradient(
        to bottom right,
        rgba($color-primary-light, 0.733),
        rgba($color-primary, 0.749)
      ),
      url(./img/hero.jpg);
  }
  background-size: cover;
  background-position: top;
  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
  position: relative;
  @include respond(tab-land) {
    clip-path: polygon(0 0, 100% 0, 100% 80vh, 0 100%);
  }
  @include respond(tab-port) {
    clip-path: polygon(0 0, 100% 0, 100% 85vh, 0 100%);
  }
  @include respond(phone) {
    clip-path: polygon(0 0, 100% 0, 100% 88vh, 0 100%);
  }
  &__logo {
    height: 4rem;
    position: absolute;
    left: 4rem;
    top: 4rem;
    @include respond(tab-port) {
      height: 3rem;
      left: 3rem;
      top: 3rem;
    }
  }
  &__container {
    text-align: center;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    color: $color-white;
  }
}
