.card {
  perspective: 150rem;
  position: relative;
  height: 50rem;
  overflow: hidden;
  @include respond(tab-port) {
    height: 100%;
  }

  //During Hover
  &:hover &_side {
    transform: rotateY(-180deg);

    @include respond(tab-port) {
      transform: rotateY(0deg);
    }
    &--back {
      transform: rotateY(0);
    }
  }

  ///Before Hover
  &_side {
    width: 100%;
    height: 100%;
    position: absolute;
    transition: all 1s;
    backface-visibility: hidden;
    box-shadow: 0 0.5rem 2rem rgba(0, 0, 0, 0.469);

    &--front {
      background-color: white;
      @include respond(tab-port) {
        height: 100%;
      }
    }
    &--back {
      width: 100%;
      transform: rotateY(180deg);
      @include respond(tab-port) {
        top: 60%;
        transform: rotateY(0deg);
        height: 55%;
        clip-path: polygon(0 10%, 100% 0, 100% 100%, 0 100%);
      }
      @include respond(phone) {
        top: 72%;
      }

      ///Card Bg color by its number
      &--1 {
        background-image: linear-gradient(
          to bottom right,
          $color-card-1,
          $color-card-1-sec
        );
      }
      &--2 {
        background-image: linear-gradient(
          to bottom right,
          $color-primary,
          $color-primary-light
        );
      }
      &--3 {
        background-image: linear-gradient(
          to bottom right,
          $color-card-3,
          $color-card-3-sec
        );
      }

      .tour-price {
        color: $color-white;
        @include absPosition;
        height: 60%;

        @include respond(tab-port) {
          height: 10%;
          top: 25%;
        }
        @include respond(phone) {
          top: 15%;
        }

        .price__tag {
          text-transform: uppercase;
          font-size: 2rem;
          font-weight: 300;
        }
        .price {
          font-size: 6rem;
          font-weight: 300;
          margin-bottom: 90%;
          @include respond(tab-port) {
            margin-bottom: 30%;
          }
          @include respond(phone) {
            font-size: 3rem;
            margin-bottom: 25%;
          }
        }
        .btn-book {
          margin-top: 0%;
          padding: 1.5rem 2rem;
          @include respond(tab-port) {
            padding: 1.5rem 2rem;
            font-size: 1.6rem;
            margin-top: -3rem;
          }
          @include respond(phone) {
            font-size: 1.5rem;
            padding: 1rem 2rem;
            margin-top: -3rem;
          }
        }
        .btn-book:active ~ .popup {
          transform: scale(1);
        }
      }
    }
  }
  ///Picture and color Front-Card
  &__picture {
    width: 100%;
    height: 25rem;
    background-size: cover;
    background-blend-mode: screen;
    clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);

    //Card Front Image by it number
    &--1 {
      background-image: radial-gradient($color-card-1, $color-card-1-sec),
        url(../../img/nat-5.jpg);
    }
    &--2 {
      background-image: linear-gradient($color-primary, $color-primary-light),
        url(../../img/nat-6.jpg);
    }
    &--3 {
      background-image: linear-gradient($color-card-3, $color-card-3-sec),
        url(../../img/nat-7.jpg);
    }
  }
  ////Font-style front Card
  &__heading {
    position: absolute;
    top: 14.5rem;
    right: 1.5rem;
    text-transform: uppercase;
    font-weight: 300;
    font-size: 3rem;
    width: 65%;
    text-align: right;
    padding: 1rem 0.5rem;
  }
  &__heading-span {
    color: $color-white;
    padding: 0.5rem;
    box-decoration-break: slice;

    &--1 {
      background-color: $color-card-1;
    }
    &--2 {
      background-color: $color-primary;
    }
    &--3 {
      background-color: $color-card-3;
    }
  }
  &__details {
    width: 100%;
    margin: 2rem 0;
    padding: 0 5rem;
    color: $color-gray-dark;

    @include respond(tab-port) {
      padding: 0 10rem;
      // margin-top: -5rem;
    }
    @include respond(phone) {
      padding: 0 5rem;
      margin-top: 0.5rem;
    }

    ul {
      list-style: none;
      font-size: 1.6rem;
      li {
        margin-bottom: 1.5rem;
        padding-bottom: 1rem;
        &:not(:last-child) {
          border-bottom: 2px solid #eee;
        }
      }
    }
  }
}
