.navigation {
  .navi__bg {
    position: fixed;
    width: 5.5rem;
    height: 5.5rem;
    top: 5rem;
    right: 5rem;
    z-index: 1000;
    border-radius: 50%;
    transition: all 0.8s cubic-bezier(1, 0.22, 0, 1);
    background-image: radial-gradient($color-primary, $color-primary-dark);

    @include respond(phone) {
      top: 85rem;
      right: 3rem;
    }
  }
  &__buttom {
    position: fixed;
    width: 6rem;
    height: 6rem;
    top: 4.8rem;
    right: 4.8rem;
    background-color: white;
    z-index: 1010;
    border-radius: 50%;
    cursor: pointer;

    @include respond(phone) {
      top: 85rem;
      right: 2.8rem;
    }
    &-line {
      &::after,
      &::before {
        content: "";
      }

      &,
      &::after,
      &::before {
        width: 3rem;
        height: 3px;
        background-color: black;
        position: fixed;
        top: 7.8rem;
        right: 6.3rem;
        z-index: 1011;
        border-radius: 1rem;
        transition: all 0.8s;

        @include respond(phone) {
          top: 88rem;
          right: 4.2rem;
        }
      }
      &::after {
        top: 8.8rem;
        @include respond(phone) {
          top: 87rem;
        }
      }
      &::before {
        top: 6.8rem;
        @include respond(phone) {
          top: 89rem;
        }
      }
    }
  }
  &__checkbox {
    display: none;
  }
  &__checkbox:checked ~ .navi__bg {
    transform: scale(70);
  }
  &__checkbox:checked ~ .nav {
    opacity: 1;
    visibility: visible;
    left: 50%;
  }
  &__checkbox:checked ~ &__buttom > &__buttom-line {
    background-color: transparent;
  }
  &__checkbox:checked ~ &__buttom > &__buttom-line::before {
    transform: rotate(222deg);
    top: 7.8rem;
    @include respond(phone) {
      top: 88rem;
    }
  }

  &__checkbox:checked ~ &__buttom > &__buttom-line::after {
    transform: rotate(-222deg);
    top: 7.8rem;
    @include respond(phone) {
      top: 88rem;
    }
  }

  .nav {
    position: fixed;
    height: 100vh;
    width: 100%;
    top: 50%;
    left: 0%;
    transform: translate(-50%, -50%);
    height: 50%;
    z-index: 2000;
    opacity: 0;
    visibility: hidden;
    transition: all 0.8s cubic-bezier(0.89, 0.2, 0.24, 1.48);
    &__ul {
      list-style: none;
    }
    &__li {
      margin-bottom: 3rem;
      text-align: center;
    }
    &__a {
      text-decoration: none;
      color: white;
      font-size: 2.5rem;
      font-weight: 300;
      text-transform: uppercase;
      cursor: pointer;
      padding: 1rem;
      transition: all 0.5s;
      background-image: linear-gradient(
        110deg,
        transparent 0%,
        transparent 50%,
        white 50%
      );
      background-size: 210%;
      background-position: left;

      @include respond(tab-port) {
        font-size: 5rem;
      }

      @include respond(phone) {
        font-size: 3rem;
      }

      &:hover {
        background-position: right;
        color: $color-primary-light;
      }
      span {
        margin-right: 1.5rem;
      }
    }
  }
}
