.story {
  background-color: $color-gray-light;
  padding: 5rem 3rem;
  transform: skewX(-17deg);
  width: 70%;
  margin: 0 auto;

  & > * {
    transform: skewX(17deg);
    @include respond(phone) {
      transform: skewX(0deg);
    }
  }
  @include respond(phone) {
    transform: skewX(0deg);
  }
  &__shape {
    width: 15rem;
    height: 15rem;
    float: left;
    margin: auto 5%;
    shape-outside: circle(48% at 50% 50%);
    clip-path: circle(48% at 50% 50%);
    position: relative;
    overflow: hidden;

    @include respond(phone) {
      width: 10rem;
      height: 10rem;
      margin: auto;
      margin-right: 2rem;
    }
  }
  &__img {
    width: 100%;
    height: 15rem;
    transform: scale(1.5);
    transition: all 0.5s;
    clip-path: circle(48% at 50% 50%);
    backface-visibility: hidden;
  }
  &__caption {
    font-size: 3rem;
    color: $color-white;
    font-weight: 500;
    position: absolute;
    top: 48%;
    left: 53%;
    transform: translate(-50%, 50%);
    opacity: 0;
    transition: all 0.5s;
  }
  &__text {
    line-height: 3rem;
    @include respond(phone) {
      font-size: 2rem;
    }
  }
  &:hover &__img {
    filter: blur(1px) contrast(90%);
    transform: scale(1);
  }
  &:hover &__caption {
    opacity: 1;
    transform: translate(-50%, -50%);
  }
}
