body {
  font-family: "lato", sans-serif;
}

.heading-secondary {
  font-size: 4rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  background-color: $color-primary;
  background-image: linear-gradient(
    to right,
    $color-primary-light,
    $color-primary-dark
  );
  -webkit-background-clip: text;
  color: transparent;
  transition: all 0.5s;
  &:hover {
    transform: skewX(20deg) skewY(3deg) scale(1.1);
    text-shadow: 0rem 1rem 1rem rgba(0, 0, 0, 0.3);
  }
}
article {
  color: gray;
  line-height: 3rem;

  .paragraph {
    font-size: $default-font-size;
    margin-bottom: 2rem;
  }
}
.heading-tertiary {
  text-transform: uppercase;
  font-size: $default-font-size;
  font-weight: 800;
  margin-bottom: 2rem;
}

.btn {
  text-transform: uppercase;
}
