.u-center-text {
  text-align: center;
}
.u-margin-btm-big {
  margin-bottom: 8rem;
}
.u-margin-btm-medium {
  margin-bottom: 4rem;
}
.u-margin-btm-small {
  margin-bottom: 1.5rem;
}

.u-margin-top-huge {
  margin-top: 35rem;
}
.u-margin-top-big {
  margin-top: 8rem;
}
.u-margin-top-medium {
  margin-top: 4rem;
}
.u-margin-top-small {
  margin-top: 1.5rem;
}
