///colors
$color-primary: #55c57a;
$color-primary-light: #7ed56f;
$color-primary-dark: #28b485;

$color-btn: #736e6e;

$color-gray-light: #f7f7f7;
$color-gray-dark: #777;

$color-white: white;

$color-card-1: #ffb900;
$color-card-1-sec: #ff7730;

$color-card-3: #2998ff;
$color-card-3-sec: #5643fa;

//variables
$row-width: 114rem;
$grid-col-gap: 8rem;
$grid-row-gap: 6rem;

//Fonts
$default-font-size: 1.6rem;

//timing
$trans-dalay: 0.22s;
