///colors
$color-primary: #55c57a;
$color-primary-light: #7ed56f;
$color-primary-drak: #28b485;
$color-btn: #736e6e;
$color-dark-gray-1: #f7f7f7;

//variables
$row-width: 114rem;
$grid-col-gap: 6rem;
$grid-row-gap: 3rem;
